NewMellat/Web References/bm.automation.jey1/LetterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.gam.secretariat.webservice.secure/LetterService.wsdl" xmlns:xsd1="http://com.gam.secretariat.webservice.secure/LetterService.xsd" name="LetterService" targetNamespace="http://com.gam.secretariat.webservice.secure/LetterService.wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>
  WSDL for Service: LetterService, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.gam.secretariat.webservice.secure/LetterService.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.gam.secretariat.webservice.secure/LetterService.xsd">
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_SecurityContextWTO">
        <xsd:all>
          <xsd:element name="depId" type="xsd:int" />
          <xsd:element name="perId" type="xsd:int" />
          <xsd:element name="systemName" type="xsd:string" />
          <xsd:element name="systemPass" type="xsd:string" />
          <xsd:element name="username" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_FinalRegisterLetterParamWTO">
        <xsd:all>
          <xsd:element name="letterId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_AttachDocumentToLetterParamWTO">
        <xsd:all>
          <xsd:element name="docId" type="xsd:int" />
          <xsd:element name="docTypeId" type="xsd:int" />
          <xsd:element name="indexField" type="xsd:string" />
          <xsd:element name="letterIds" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfInt">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:int[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_FileWTO">
        <xsd:all>
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="content" type="xsd:base64Binary" />
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="fileType" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="objectId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_FileWTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_LetterWTO">
        <xsd:all>
          <xsd:element name="attachments" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO" />
          <xsd:element name="body" type="tns:com_gam_secretariat_webservice_complextypes_FileWTO" />
          <xsd:element name="ccReceivers" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_PersonDepartmentWTO" />
          <xsd:element name="flagTypeId" type="xsd:int" />
          <xsd:element name="images" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO" />
          <xsd:element name="keywordIds" type="tns:ArrayOfInt" />
          <xsd:element name="letAccessType" type="xsd:string" />
          <xsd:element name="letAppendix" type="xsd:string" />
          <xsd:element name="letAttachmentCount" type="xsd:int" />
          <xsd:element name="letCCReceivers" type="xsd:string" />
          <xsd:element name="letCancel" type="xsd:string" />
          <xsd:element name="letCcCount" type="xsd:int" />
          <xsd:element name="letComment" type="xsd:string" />
          <xsd:element name="letDateNumStatus" type="xsd:int" />
          <xsd:element name="letDocTypeId" type="xsd:int" />
          <xsd:element name="letDocTypeName" type="xsd:string" />
          <xsd:element name="letDraftDate" type="xsd:string" />
          <xsd:element name="letDraftDateMode" type="xsd:string" />
          <xsd:element name="letEffectivePreCode" type="xsd:string" />
          <xsd:element name="letFinalRegDate" type="xsd:string" />
          <xsd:element name="letFinalRegDateMode" type="xsd:string" />
          <xsd:element name="letFinalRegFlag" type="xsd:string" />
          <xsd:element name="letFinalRegistrarPerId" type="xsd:int" />
          <xsd:element name="letFinalRegistrarPerName" type="xsd:string" />
          <xsd:element name="letFlowType" type="xsd:string" />
          <xsd:element name="letId" type="xsd:int" />
          <xsd:element name="letImageCount" type="xsd:int" />
          <xsd:element name="letInputDate" type="xsd:string" />
          <xsd:element name="letInputDateMode" type="xsd:string" />
          <xsd:element name="letInputNo" type="xsd:string" />
          <xsd:element name="letKeywords" type="xsd:string" />
          <xsd:element name="letNumberingId" type="xsd:int" />
          <xsd:element name="letOrginality" type="xsd:string" />
          <xsd:element name="letPrecode" type="xsd:string" />
          <xsd:element name="letPresenderCount" type="xsd:int" />
          <xsd:element name="letPriorityId" type="xsd:int" />
          <xsd:element name="letPriorityName" type="xsd:string" />
          <xsd:element name="letProducerDepId" type="xsd:int" />
          <xsd:element name="letProducerDepName" type="xsd:string" />
          <xsd:element name="letProducerFullName" type="xsd:string" />
          <xsd:element name="letProducerPerId" type="xsd:int" />
          <xsd:element name="letProducerPerName" type="xsd:string" />
          <xsd:element name="letProducerSendBoxState" type="xsd:string" />
          <xsd:element name="letReceivers" type="xsd:string" />
          <xsd:element name="letRegSerial" type="xsd:int" />
          <xsd:element name="letRegYear" type="xsd:int" />
          <xsd:element name="letRegisterNumber" type="xsd:string" />
          <xsd:element name="letRegistrarDepId" type="xsd:int" />
          <xsd:element name="letRegistrarDepName" type="xsd:string" />
          <xsd:element name="letRegistrarFullName" type="xsd:string" />
          <xsd:element name="letRegistrarPerId" type="xsd:int" />
          <xsd:element name="letRegistrarPerName" type="xsd:string" />
          <xsd:element name="letRelatedLetterCount" type="xsd:int" />
          <xsd:element name="letSenderDepId" type="xsd:int" />
          <xsd:element name="letSenderDepName" type="xsd:string" />
          <xsd:element name="letSenderFullName" type="xsd:string" />
          <xsd:element name="letSenderPerId" type="xsd:int" />
          <xsd:element name="letSenderPerName" type="xsd:string" />
          <xsd:element name="letSenderSendBoxState" type="xsd:string" />
          <xsd:element name="letSubjects" type="xsd:string" />
          <xsd:element name="letSummary" type="xsd:string" />
          <xsd:element name="letTransfer" type="xsd:string" />
          <xsd:element name="letType" type="xsd:string" />
          <xsd:element name="presenders" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_LetterPresenderWTO" />
          <xsd:element name="receivers" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_PersonDepartmentWTO" />
          <xsd:element name="relatedLetters" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_ItemWTO" />
          <xsd:element name="signers" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_PersonDepartmentWTO" />
          <xsd:element name="subjectIds" type="tns:ArrayOfInt" />
          <xsd:element name="summary" type="xsd:string" />
          <xsd:element name="templateId" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_PersonDepartmentWTO">
        <xsd:all>
          <xsd:element name="departmentId" type="xsd:int" />
          <xsd:element name="departmentName" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="groupId" type="xsd:int" />
          <xsd:element name="personId" type="xsd:int" />
          <xsd:element name="personName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_PersonDepartmentWTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_PersonDepartmentWTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_LetterPresenderWTO">
        <xsd:all>
          <xsd:element name="depId" type="xsd:int" />
          <xsd:element name="perId" type="xsd:int" />
          <xsd:element name="preLetterDate" type="xsd:string" />
          <xsd:element name="preLetterNo" type="xsd:string" />
          <xsd:element name="preLetterType" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_LetterPresenderWTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_LetterPresenderWTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_ItemWTO">
        <xsd:all>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_ItemWTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_ItemWTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_LetterWTO">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_LetterWTO[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_FetchLetterParamWTO">
        <xsd:all>
          <xsd:element name="from" type="xsd:int" />
          <xsd:element name="items" type="tns:ArrayOfCom_gam_secretariat_webservice_complextypes_Item" />
          <xsd:element name="to" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="com_gam_secretariat_webservice_complextypes_Item">
        <xsd:all>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCom_gam_secretariat_webservice_complextypes_Item">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns:com_gam_secretariat_webservice_complextypes_Item[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="getLetterBodyOutput">
    <part name="return" type="xsd1:com_gam_secretariat_webservice_complextypes_FileWTO" />
  </message>
  <message name="finalRegisterLetterOutput">
    <part name="return" type="xsd:boolean" />
  </message>
  <message name="attachDocumentToLetterOutput" />
  <message name="fetchLetterInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd1:com_gam_secretariat_webservice_complextypes_FetchLetterParamWTO" />
  </message>
  <message name="getReplyLettersOutput">
    <part name="return" type="xsd1:ArrayOfInt" />
  </message>
  <message name="getLetterAttachmentsOutput">
    <part name="return" type="xsd1:ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO" />
  </message>
  <message name="insertLetterInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd1:com_gam_secretariat_webservice_complextypes_LetterWTO" />
  </message>
  <message name="getLetterBodyInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd:int" />
  </message>
  <message name="insertLetterOutput">
    <part name="return" type="xsd:int" />
  </message>
  <message name="getLetterAllAttachedFilesInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd:int" />
  </message>
  <message name="getLetterImagesInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd:int" />
  </message>
  <message name="getLetterAllAttachedFilesOutput">
    <part name="return" type="xsd1:ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO" />
  </message>
  <message name="getLetterImagesOutput">
    <part name="return" type="xsd1:ArrayOfCom_gam_secretariat_webservice_complextypes_FileWTO" />
  </message>
  <message name="finalRegisterLetterInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd1:com_gam_secretariat_webservice_complextypes_FinalRegisterLetterParamWTO" />
  </message>
  <message name="getReplyLettersInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd:int" />
  </message>
  <message name="fetchLetterOutput">
    <part name="return" type="xsd1:ArrayOfCom_gam_secretariat_webservice_complextypes_LetterWTO" />
  </message>
  <message name="attachDocumentToLetterInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd1:com_gam_secretariat_webservice_complextypes_AttachDocumentToLetterParamWTO" />
  </message>
  <message name="getLetterAttachmentsInput">
    <part name="param0" type="xsd1:com_gam_secretariat_webservice_complextypes_SecurityContextWTO" />
    <part name="param1" type="xsd:int" />
  </message>
  <portType name="LetterServicePortType">
    <operation name="finalRegisterLetter">
      <input message="tns:finalRegisterLetterInput" />
      <output message="tns:finalRegisterLetterOutput" />
    </operation>
    <operation name="getReplyLetters">
      <input message="tns:getReplyLettersInput" />
      <output message="tns:getReplyLettersOutput" />
    </operation>
    <operation name="getLetterBody">
      <input message="tns:getLetterBodyInput" />
      <output message="tns:getLetterBodyOutput" />
    </operation>
    <operation name="fetchLetter">
      <input message="tns:fetchLetterInput" />
      <output message="tns:fetchLetterOutput" />
    </operation>
    <operation name="insertLetter">
      <input message="tns:insertLetterInput" />
      <output message="tns:insertLetterOutput" />
    </operation>
    <operation name="getLetterAllAttachedFiles">
      <input message="tns:getLetterAllAttachedFilesInput" />
      <output message="tns:getLetterAllAttachedFilesOutput" />
    </operation>
    <operation name="getLetterAttachments">
      <input message="tns:getLetterAttachmentsInput" />
      <output message="tns:getLetterAttachmentsOutput" />
    </operation>
    <operation name="getLetterImages">
      <input message="tns:getLetterImagesInput" />
      <output message="tns:getLetterImagesOutput" />
    </operation>
    <operation name="attachDocumentToLetter">
      <input message="tns:attachDocumentToLetterInput" />
      <output message="tns:attachDocumentToLetterOutput" />
    </operation>
  </portType>
  <binding name="LetterServiceBinding" type="tns:LetterServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="finalRegisterLetter">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/finalRegisterLetter" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getReplyLetters">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/getReplyLetters" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLetterBody">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/getLetterBody" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="fetchLetter">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/fetchLetter" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="insertLetter">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/insertLetter" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLetterAllAttachedFiles">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/getLetterAllAttachedFiles" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLetterAttachments">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/getLetterAttachments" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getLetterImages">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/getLetterImages" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="attachDocumentToLetter">
      <soap:operation soapAction="urn:com-gam-secretariat-webservice-secure-LetterService/attachDocumentToLetter" />
      <input>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:com-gam-secretariat-webservice-secure-LetterService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="LetterService">
    <port name="LetterServicePort" binding="tns:LetterServiceBinding">
      <soap:address location="http://jey1.automation.bm:80/secsws/LetterService" />
    </port>
  </service>
</definitions>